---

---

<footer class="[@media(min-width:956px)]:max-w-4xl max-w-3xl m-auto py-8 text-lg">
    <div class="">
        <div class="flex gap-4 items-center justify-between">
            <div class="">
                <span class="">
                    Copyright © 2024 <a href="index.html" class="bento-tag">BentoX</a>
                </span>
                <span class="">
                    Created By <a href="" class="text-[#8b50d8] ">Fabricio Jordán</a>
                </span>
            </div>
            <ul class="flex justify-center flex-wrap gap-8 [&_A]:font-medium [&_A]:transition-colors [&_A]:duration-500 hover:[&_A]:text-[#8b50d8]">
                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li>
                    <a href="about.html">
                        About
                    </a>
                </li>
                <li>
                    <a href="project.html">
                        Works
                    </a>
                </li>
                <li>
                    <a href="contact.html">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>