---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Recrafting...">
	<main class="bg-black text-white m-auto">

		<ul class="flex flex-col justify-center items-center gap-8 [&_A]:font-bold [&_li]:p-4">
			<li>
				<a href="WebBentoX-1">Web-BentoX-1</a>
			</li>
			<li>
				<a href="Init">Web-BentoX-2</a>
			</li>
			<li>
				<a href="../pages/Recraft-Webs/Web-BentoX-1/Init">Web-BentoX-1</a>
			</li>
			<li>
				<a href="../pages/Recraft-Webs/Web-BentoX-1/Init">Web-BentoX-1</a>
			</li>
			<li>
				<a href="../pages/Recraft-Webs/Web-BentoX-1/Init">Web-BentoX-1</a>
			</li>
			<li>
				<a href="../pages/Recraft-Webs/Web-BentoX-1/Init">Web-BentoX-1</a>
			</li>
		</ul>

	</main>
</Layout>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
	
	main {
		font-family: 'Kanit', system-ui, sans-serif;
		margin: auto;
		color: white;
	}
</style>
