---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Web-BentoX-1/Header.astro';
import Footer from '../components/Web-BentoX-1/Footer.astro';
import Bento from '../components/Web-BentoX-1/Bento.astro';

---

<Layout title="Web BentoX 1">
	<main class="bg-[#2b2b2ba6]">

		<Header />

		<Bento />

		<Footer />

	</main>
</Layout>



<style is:global>
	main {
		margin: auto;
		color: white;
	}

	.articleImportant{
		transition: box-shadow 1s ease-in-out;
		border-radius: 20px;
		border: 1px solid #424242;
	}
	.articleImportant:hover{
		box-shadow: rgba(174, 169, 162, 0.11) 6px 4px 7px 2px inset, rgba(194, 190, 185, 0.08) -4px -4px 6px 3px inset;
	}

</style>